<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DbUserConnectionString" connectionString="Data Source=.;Initial Catalog=TaiMingUser;Integrated Security=False;User ID=sa;Password=123123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</connectionStrings>