<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DbManagerConnectionString" connectionString="Data Source=.;Initial Catalog=TaiMingManager;Integrated Security=False;User ID=sa;Password=123456;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</connectionStrings>