@{
    ViewBag.Title = "Home Page";
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-carousel" id="test10">
                        <div carousel-item="">
                            <div><img src="//res.layui.com/images/layui/demo/1.png"></div>
                            <div><img src="//res.layui.com/images/layui/demo/2.png"></div>
                            <div><img src="//res.layui.com/images/layui/demo/3.png"></div>
                            <div><img src="//res.layui.com/images/layui/demo/4.png"></div>
                            <div><img src="//res.layui.com/images/layui/demo/5.png"></div>
                            <div><img src="//res.layui.com/images/layui/demo/6.png"></div>
                            <div><img src="//res.layui.com/images/layui/demo/7.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        layui.use(['carousel', 'form'], function () {
            var carousel = layui.carousel
                , form = layui.form;
            //图片轮播
            carousel.render({
                elem: '#test10'
                , width: '778px'
                , height: '440px'
                , interval: 5000
            });
    </script>
}