<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sqlmapping key="GetAdminList">
    <description>
      时间:2018-07-10
      作者:sayook
      功能:获取管理员列表
      参数:无
    </description>
    <sql>
      <![CDATA[
          SELECT [Id],[LoginName],[Password],[Role],[RoleName],[Mobile],[Email],[NickName],[State],[UpdateTime],[CreateTime]
          FROM [dbo].[Administrator]
          ORDER BY Id ASC
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="InsertAdmin">
    <description>
      时间:2018-07-10
      作者:sayook
      功能:插入管理员数据
      参数:管理员信息
    </description>
    <sql>
      <![CDATA[
          INSERT INTO [dbo].[Administrator]
          ([LoginName],[Password],[Role],[RoleName],[Mobile],[Email],[NickName],[State])
          VALUES
          (@LoginName,@Password,@Role,@RoleName,@Mobile,@Email,@NickName,@State)
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="UpdateAdmin">
    <description>
      时间:2018-07-10
      作者:sayook
      功能:更新管理员数据
      参数:管理员信息
    </description>
    <sql>
      <![CDATA[
          UPDATE [dbo].[Administrator]
            SET [LoginName] = @LoginName
               ,[Password] = @Password
               ,[Role] = @Role
               ,[RoleName] = @RoleName
               ,[Mobile] = @Mobile
               ,[Email] = @Email
               ,[NickName] = @NickName
               ,[State] = @State
               ,[UpdateTime] = GETDATE()
          WHERE Id=@Id
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="ResetPassword">
    <description>
      时间:2018-07-12
      作者:sayook
      功能:重置密码
      参数:管理员信息
    </description>
    <sql>
      <![CDATA[
          UPDATE [dbo].[Administrator]
            SET [Password] = @Password
               ,[UpdateTime] = GETDATE()
          WHERE Id=@Id
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="UpdateAdminState">
    <description>
      时间:2018-07-12
      作者:sayook
      功能:更新管理员状态
      参数:管理员信息
    </description>
    <sql>
      <![CDATA[
          UPDATE [dbo].[Administrator]
            SET [State] = @State
               ,[UpdateTime] = GETDATE()
          WHERE Id=@Id
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="AdminLogin">
    <description>
      时间:2018-07-12
      作者:sayook
      功能:管理员登录
      参数:登录名，密码
    </description>
    <sql>
      <![CDATA[
          SELECT [Id],[LoginName],[Password],[Role],[RoleName],[Mobile],[Email],[NickName],[State],[UpdateTime],[CreateTime]
          FROM [dbo].[Administrator]
          WHERE LoginName=@LoginName
          AND Password=@Password
          AND State=1
      ]]>
    </sql>
  </sqlmapping>
</configuration>
