<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sqlmapping key="GetNavbarList">
    <description>
      时间:2017-11-28
      作者:sayook
      功能:获取导航列表
      参数:导航信息
    </description>
    <sql>
      <![CDATA[
          SELECT [Id],[ParentId],[title],[icon],[href],[spread],[target],[IsShow],[Sort]
          FROM [dbo].[NavBar]
          ORDER BY Sort ASC
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="InsertNavber">
    <description>
      时间:2018-07-06
      作者:sayook
      功能:插入导航数据
      参数:导航信息
    </description>
    <sql>
      <![CDATA[
          INSERT INTO [dbo].[NavBar]
            ([ParentId],[title],[icon],[href],[spread],[target],[IsShow],[Sort])
          VALUES
            (@ParentId,@title,@icon,@href,@spread,@target,@IsShow,@Sort)
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="UpdateNavber">
    <description>
      时间:2018-07-06
      作者:sayook
      功能:更新导航数据
      参数:导航信息
    </description>
    <sql>
      <![CDATA[
          UPDATE [dbo].[NavBar]
           SET [ParentId] = @ParentId
              ,[title] = @title
              ,[icon] = @icon
              ,[href] = @href
              ,[spread] = @spread 
              ,[target] = @target 
              ,[IsShow] = @IsShow
              ,[Sort] = @Sort
              ,[UpdateTime] = getdate()
         WHERE Id=@Id
      ]]>
    </sql>
  </sqlmapping>
</configuration>
