<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sqlmapping key="GetRoleList">
    <description>
      时间:2018-07-09
      作者:sayook
      功能:获取角色列表
      参数:无
    </description>
    <sql>
      <![CDATA[
          SELECT [Id],[Name],[Limits],[Description],[IsUse],[CreateTime],[UpdateTime]
          FROM [dbo].[Role]
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="InsertRole">
    <description>
      时间:2018-07-09
      作者:sayook
      功能:插入角色数据
      参数:角色信息
    </description>
    <sql>
      <![CDATA[
          INSERT INTO [dbo].[Role]
          ([Name],[Limits],[Description],[IsUse])
          VALUES
          (@Name,@Limits, @Description,@IsUse)
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="UpdateRole">
    <description>
      时间:2018-07-06
      作者:sayook
      功能:更新角色数据
      参数:角色信息
    </description>
    <sql>
      <![CDATA[
         UPDATE [dbo].[Role]
         SET [Name] = @Name
            ,[Limits] = @Limits
            ,[Description] = @Description
            ,[IsUse] = @IsUse
            ,[UpdateTime] = getdate()
          WHERE Id=@Id
      ]]>
    </sql>
  </sqlmapping>
</configuration>
