<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Person" type="ConsoleTest.PersonSection,ConsoleTest" allowLocation="true" allowDefinition="Everywhere" />
    <section name="RedisConfig" type="TaiMingAI.Caches.Redis.RedisConfig,TaiMingAI.Caches" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0" />
  </configSections>
  <Person age="23" name="刘备" />
  <RedisConfig WriteServerConStr="127.0.0.1:6379" ReadServerConStr="127.0.0.1:6379" MaxWritePoolSize="100" MaxReadPoolSize="100" AutoStart="true" LocalCacheTime="86400" RecordeLog="true" />
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DbUserConnectionString" connectionString="Data Source=.;Initial Catalog=TaiMingUser;Integrated Security=False;User ID=sa;Password=123123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <appSettings>
    <add key="BaiduSongApi" value="http://tingapi.ting.baidu.com/v1/restserver/ting" />
    <add key="db" value="ConsoleTest.model.OracleUserServer" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>