<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sqlmapping key="InternalRegisterUser">
    <description>
      时间:2017-11-28
      作者:sayook
      功能:内部添加用户
      参数:用户基本信息
    </description>
    <sql>
      <![CDATA[
          INSERT INTO [TmingUserInfo]([Name],[Powsword],[Mobile],[Email])
          VALUES(@Name,@Powsword,@Mobile,@Email)
          @@newID
          
          select * from TmingUserInfo
      ]]>
    </sql>
  </sqlmapping>
  <sqlmapping key="GetUserInfoList">
    <description>
      时间:2017-11-28
      作者:sayook
      功能:查询用户列表
      参数:无
    </description>
    <sql>
      <![CDATA[
         select * from TmingUserInfo
      ]]>
    </sql>
  </sqlmapping>
</configuration>
