<!-- 底部 -->
<div class="layui-footer footer">
    <p>
        <span>copyright @("@2018") 123</span>
        <a onclick="donation()" class="layui-btn layui-btn-danger layui-btn-sm">泰明科技</a>
    </p>
</div>
